openapi: 3.0.0
info:
  title: Humanitec AccountType Organization API
  version: 0.28.24
  description: '# Introduction

    The *Humanitec API* allows you to automate and integrate Humanitec into your developer and operational workflows.

    The API is a REST based API. It is based around a set of concepts:


    * Core

    * External Resources

    * Sets and Deltas


    ## Authentication


    Almost all requests made to the Humanitec API require Authentication. See our [Developer Docs on API Authentication](https://developer.humanitec.com/platform-orchestrator/reference/api-references/#authentication) for instructions.


    ## Content Types

    The Humanitec API, unless explicitly specified, only accepts content types of `application/json` and will always return valid `application/json` or an empty response.


    ## Response Codes

    ### Success

    Any response code in the `2xx` range should be regarded as success.


    | **Code** | **Meaning**                         |

    |----------|-------------------------------------|

    | `200`    | Success                             |

    | `201`    | Success, a new resource was created |

    | `204`    | Success, but no content in response |


    _Note: We plan to simplify the interface by replacing 201 with 200 status codes._


    ### Failure

    Any response code in the `4xx` range should be regarded as an error that can be rectified by the client. `5xx` error codes indicate errors that cannot be corrected by the client.


    | **Code** | **Meaning**                                                                                                           |

    |----------|-----------------------------------------------------------------------------------------------------------------------|

    | `400`    | General error. (Body will contain details)                                                                            |

    | `401`    | Attempt to access protected resource without `Authorization` Header.                                                  |

    | `403`    | The `Bearer` or `JWT` does not grant access to the requested resource.                                                |

    | `404`    | Resource not found.                                                                                                   |

    | `405`    | Method not allowed                                                                                                    |

    | `409`    | Conflict. Usually indicated a resource with that ID already exists.                                                   |

    | `422`    | Unprocessable Entity. The body was not valid JSON, was empty or contained an object different from what was expected. |

    | `429`    | Too many requests - request rate limit has been reached.                                                              |

    | `500`    | Internal Error. If it occurs repeatedly, contact support.                                                             |

    '
  contact:
    name: Humanitec Support
    email: support@humanitec.com
  x-logo:
    url: humanitec-logo.png
    altText: Humanitec logo
servers:
- url: https://api.humanitec.io/
tags:
- name: Organization
  x-displayName: Organization
  description: 'An Organization is the top level object in Humanitec. All other objects belong to an Organization.

    <SchemaDefinition schemaRef="#/components/schemas/OrganizationResponse" />

    '
paths:
  /orgs:
    get:
      tags:
      - Organization
      summary: List active organizations the user has access to.
      operationId: listOrganizations
      responses:
        '200':
          description: 'A list of available organizations (based on the current user access level).


            '
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationResponse'
                type: array
        '403':
          $ref: '#/components/responses/403Forbidden'
  /orgs/{orgId}:
    get:
      tags:
      - Organization
      summary: Get the specified Organization.
      operationId: getOrganization
      parameters:
      - $ref: '#/components/parameters/orgIdPathParam'
      responses:
        '200':
          description: 'Returns organization details.


            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '403':
          $ref: '#/components/responses/403Forbidden'
components:
  schemas:
    LogoResponse:
      properties:
        dark_url:
          type: string
        light_url:
          type: string
      type: object
    HumanitecErrorResponse:
      description: HumanitecError represents a standard Humanitec Error
      properties:
        details:
          additionalProperties: true
          type: object
          description: (Optional) Additional information is enclosed here.
        error:
          type: string
          example: API-000
          description: A short code to help with error identification.
        message:
          type: string
          example: Could not validate token
          description: A Human readable message about the error.
      required:
      - error
      - message
      type: object
      example:
        error: API-000
        message: Could not validate token.
    OrganizationResponse:
      description: An Organization is the top level object in Humanitec. All other objects belong to an Organization.
      properties:
        created_at:
          description: Timestamp when the Organization was created.
          example: '2020-06-22T09:37:23.523Z'
          nullable: true
          format: date-time
          type: string
        created_by:
          description: User ID that created the Organization.
          type: string
        id:
          description: Unique ID for the Organization.
          pattern: ^[a-z0-9][a-z0-9-]+[a-z0-9]$
          type: string
        logo:
          $ref: '#/components/schemas/LogoResponse'
          description: Organization logo details.
        name:
          description: Human friendly name for the Organization.
          type: string
        trial_expires_at:
          description: Timestamp the trial expires at.
          example: '2020-06-22T09:37:23.523Z'
          nullable: true
          format: date-time
          type: string
        scaffolding_url:
          description: URL of the scaffolding service.
          nullable: true
          type: string
      required:
      - id
      - name
      - created_at
      - created_by
      - trial_expires_at
      - logo
      type: object
  responses:
    403Forbidden:
      description: Server understands the request but refuses to authorize it.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HumanitecErrorResponse'
  parameters:
    orgIdPathParam:
      name: orgId
      in: path
      description: The Organization ID
      example: sample-org
      required: true
      schema:
        type: string
        pattern: ^[a-z0-9](?:-?[a-z0-9]+)+$
        maxLength: 50
externalDocs:
  description: Find out more about how to use Humanitec in your every-day development work.
  url: https://developer.humanitec.com/
x-tagGroups:
- name: Core
  tags:
  - Agents
  - Application
  - Artefact
  - ArtefactVersion
  - AuditLogs
  - Logs
  - Deployment
  - EnvironmentType
  - Environment
  - Image
  - PublicKeys
  - Organization
  - Registry
  - RuntimeInfo
  - SecretStore
  - Value
  - ValueSetVersion
- name: App Configuration
  tags:
  - Delta
  - Set
  - WorkloadProfile
- name: Resources
  tags:
  - ActiveResource
  - DriverDefinition
  - MatchingCriteria
  - ResourceDefinition
  - ResourceDefinitionVersion
  - ResourceProvision
  - AccountType
  - ResourceAccount
  - ResourceType
  - ResourceClass
- name: Automation
  tags:
  - AutomationRule
  - Event
  - Pipelines
  - PipelineRuns
  - PipelineApprovals
- name: Users
  tags:
  - UserProfile
  - UserRole
  - Group
  - TokenInfo
